<div style=" display: flex;">
    <div>
        <a [routerLink]="'/main/.'" > <img src="/assets/logo.svg" width="100px"/></a>
    </div>


    <div style="display: flex;padding-top:5px;padding-left: 50px">
        <div style="padding: 10px"><a [routerLink]="'/stages/.'" >Stages</a></div>
        <div style="padding: 10px"><a [routerLink]="'/microfonds/.'" >Microfonds</a></div>
        <div style="padding: 10px"><a [routerLink]="'/team/.'" >Team</a></div>
        <div style="padding: 10px"><a [routerLink]="'/about/.'" >About</a></div>
        <div style="padding: 10px"><a [routerLink]="'/structure/.'" >Structure</a></div>
        <div style="padding: 10px"><a [routerLink]="'/technology/.'" >Technology</a></div>
        <div style="padding: 10px"><a [routerLink]="'/sys/.'" >System</a></div>
    </div>


</div>
<router-outlet></router-outlet>