<div>
    <img src="/assets/iusb.JPG" width="800px"/>
</div>

<h1> UIC {{ms.getName()}} - Universal Industrial Connector</h1>
<p>
    Connector based on usb type-c for industrial use.
</p>



<h2>Why are industrial connectors so important and in demand?</h2>
<p>When creating complex industrial equipment that involves dozens or hundreds of electronic modules, the system's
    reliability is determined by 50% based on the reliability of these modules, and the remaining 50% relies on
    connectors. As a result, the cost of connectors can reach up to $1000 per piece.</p>

<h3>List of advantages when using industrial connectors</h3>
<ol>
    <li><strong>Reliability and Durability:</strong> Industrial connectors are reliable and durable in harsh operating
        conditions.
    </li>
    <li><strong>High Performance:</strong> They provide high-speed data transmission and electrical power.</li>
    <li><strong>Compatibility and Standardization:</strong> Designed according to standards, ensuring compatibility.
    </li>
    <li><strong>Safety:</strong> They feature locking mechanisms and grounding for safe usage.</li>
    <li><strong>Flexibility and Scalability:</strong> Enable flexible configuration and scalability of systems.</li>
    <li><strong>Electromagnetic Interference Shielding:</strong> Provide minimized impact from electromagnetic
        interference on transmitted signals or data.
    </li>
</ol>

<h2>How much do modern industrial connectors cost?</h2>

<p>The cost of modern industrial connectors varies. Connectors are a highly technological field in the industry. The reliability of complex systems directly depends on the reliability of the connectors that connect the system modules.

</p><p>Modern industrial connectors can range from tens of dollars per piece, but they are not always technologically advanced enough to create cables using them on automated assembly lines. Cable assembly is often done manually.

</p><p>For comparison, the cost of an industrial connector is approximately $20, while a DisplayPort connector costs around $2. However, the quality and level of technology are nearly the same.
</p>
<h2>Features</h2>
<ol>
    <li>
        Power delivery - 240w
    </li>
    <li>
        Data speed up to - 40 GBps
    </li>
</ol>


<fondation-title></fondation-title>
