<div>
    <img src="assets/iusb.JPG" width="800px"/>
</div>

<h1> UIC - Universal Industrial Connector</h1>
<p>
   Connector based on usb type-c for industrial use.
</p>

<h2>Features</h2>
<ol>
    <li>
       Power delivery - 240w
    </li>
    <li>
        Data speed up to - 40 GBps
    </li>
</ol>

рынок кабелей HDMI 1.6 billion dollar per year.
Смысл очень простой если после тебя вложил чел, это не значит что ты такой умный и вложил первый, это стандарт промышленный и каждый следующий доллар вкладывается в новый уровень спецификации
требуется стандарт, который включает в себя большое количество документации

<fondation-title></fondation-title>

<connector-spec></connector-spec>