<div style="text-align: center;padding: 80px">
    <h2>
        Robotization - the displacement of people from the production process, with their replacement by
        industrial robots.</h2>


</div>



<div style=" max-width: 800px;padding-bottom: 100px">


    <div>
        <h3>Industrial hub for power applications </h3>
        <img src="/assets/array.JPG" width="1000px"/>

    </div>

    <div>
        <h3>Industrial hub for  drones </h3>
        <img src="/assets/drone_assembly.JPG" width="800px"/>

    </div>



</div>

<div style="display: flex;max-width: 800px;padding-bottom: 100px">



    <div>
        <img src="/assets/controller_assembly.JPG" width="200px"/>
    </div>
    <div>
        <img src="/assets/module-assembly.JPG" width="200px"/>
    </div>
    <div>
        <img src="/assets/drone-hub.JPG" width="200px"/>
    </div>

    <div>
        <img src="/assets/iusb.JPG" width="200px"/>
    </div>
</div>