<h1>Fondation Title works!</h1>
<ul>
    <li>Raised: $120 </li>
    <li>Smart contract:  Extended fond contract </li>
    <li>Minimal invest:  Any</li>
    <li>Fee: $0.1 per connector</li>
    <li>Investor count: unlimited</li>
    <li>Distribution of profits: by persent fond tockens </li>
</ul>


<h2>Back example</h2>
<p>Batch order 1000 pcs </p>
<p>Fee: $0.1 x 2 end * 1000 pcs = $200</p>

<h2>Targets</h2>
<ul>
    <li>Minimum target - 1000 licensing per day (365k pics per year)</li>
    <li>Maximum  target - 100.000 licensing per day (36m pics per year)</li>
</ul>




<h2>Stages</h2>
<ul>
    <li> 1000$ - develop prototype, find cable, find factory for first contract</li>
</ul>